version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "nuget"
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: nuget
    directory: /RetrospectiveExtension.Backend.Tests
    schedule:
      interval: daily

  - package-ecosystem: nuget
    directory: /RetrospectiveExtension.Backend
    schedule:
      interval: daily

  - package-ecosystem: npm
    directory: /RetrospectiveExtension.Frontend
    schedule:
      interval: daily
