@use "../variables";

.feedback-column {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  border-right: 0;
  display: table-row;
  height: auto;

  /*
  .feedback-items-container {
    padding-top: 0;
    display: flex;
    flex-wrap: wrap;
  }
    */

//.feedback-column-header {
  .feedback-column-title {
    padding: 20px 28px 10px 28px;
    cursor: pointer;
    //background-color: #f8f8f8;
    margin: 0;
    border-bottom: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
    height: 75px;

    .feedback-column-icon {
      padding-top: 3px;
      padding-right: 20px;
      display: inline-block;
      font-size: 30px;

      i {
        font-size: 36px;
      }
    }

    .feedback-column-name {
      font-size: variables.$mobile_font_size_large;
      margin-top: -5px;
      display: inline-block;
    }
  }

  .feedback-column-content {

    .create-container {
      width: 100vw;
      max-width: variables.$mobile_breakpoint;
      flex-wrap: wrap;
      padding-bottom: 20px;
      display: flex;
      transform-origin: 0 0;

      .create-input-wrapper {
        width: 92vw;
      }

      .input-validation-message {
        font-size: variables.$mobile_font_size_large - 20px;
      }

      .feedback-item-form {
        display: flex;

        .fa-plus {
          font-size: variables.$mobile_font_size_large;
        }
      }

      .title-input {
        width: 100%;
        height: 75px;
        font-size: variables.$mobile_font_size_large;
        padding-left: 30px;
      }

      .create-button {
        margin-top: 16px;
        margin-bottom: 12px;
        font-size: variables.$mobile_font_size;
        i {
          font-size: variables.$mobile_font_size;
        }
      }
    }
  }
}
//}

  .feedback-items-container {
    padding-top: 0;
    display: flex;
    flex-wrap: wrap;
  }
