.feedback-board {
  width: 100vw;
  max-width: $mobile_breakpoint;

  .feedback-columns-container {
    display: table-row-group;
  }
}

// Only iOS supports -webkit-overflow-scrolling, so the settings below will only apply to iOS.
@supports (-webkit-overflow-scrolling: touch) {
  .feedback-board {
    -webkit-overflow-scrolling: touch;

    // We need this height to be 100% of viewport, less the headers, to allow scrolling in an iFrame on browsers on iOS
    max-height: calc(100vh - #{$mobile_extension_header_height_with_margin} - #{$mobile_second_level_header_height});
    overflow-y: scroll;
  }
}
