@use "../_variables.scss" as variables;

.feedbackItem,
.feedback-item-group,           // So it hits grouped containers too
.feedbackItemGroupGroupedItem { // In case this class is used
  flex-basis: 100%;

  // Target ALL card variants:
  .mainItemCard,
  .groupedItemCard,
  .feedbackItemGroupGroupedItem {
    min-width: calc(100vw - 45px);
    max-width: calc(100vw - 45px);
    border: none;
    background: #fff;
    box-shadow: none;
    padding: 12px 8px;
    font-size: variables.$mobile_font_size_main;

    .card-header,
    .item-actions-menu,
    .card-action-timer,
    .group-child-feedback-stack {
      display: none !important;
    }

    .card-content {
      font-size: variables.$mobile_font_size;
      //padding: 0;
      //margin: 0;
    }
    .card-id {
      font-size: variables.$mobile_font_size_main;
    }
    .ms-DocumentCardActivity, .anonymous-created-date {
      display: none;
    }
  }
}

  &.feedback-item-group-expanded {
    .feedbackItemGroupGroupedItem {
      transform: scale(0.95);

      .groupedItemCard {
        @extend .mainItemCard;
        margin-top: 0px;
        background-color: rgba(var(--palette-neutral-10), 1);

        .card-integral-part {
          border-left-width: 10px;
          border-left-style: solid;
          background-color: var(--background-color);
        }
      }
    }
  }
