.feedback-item-group {
  &.feedback-item-group-expanded {
    .groupedItemCard {
      .card-header {
        height: 65px;

        .item-actions-menu {
          padding: 15px 15px 0 0;

          .contextual-menu-button {
            width: 45px;
          }
        }
      }
    }
  }

  .item-cards {

    .mainItemCard {

      .card-header {

        .feedback-expand-group {
          height: $mobile_feedback_item_header_height;
          max-width: 225px;
          font-size: 32px;
          line-height: 75px;
          margin-left: 16px;

          i {
            margin-right: 16px;
          }
        }
      }
    }

    .groupedItemCard {

      .card-header {
        height: $mobile_feedback_item_header_height;

        .feedback-action-button {
          height: 65px;
          min-width: $mobile_feedback_item_action_button_width;
          max-width: 150px;
          font-size: $mobile_font_size_main;
          margin-right: 12.5px;
          margin-left: 12.5px;
          padding: 1px 7px;

          .ms-Button-flexContainer {

            i {
              font-size: $mobile_font_size_main;
              line-height: 1.3;
            }
          }
        }

        .feedback-add-vote {

          .feedback-upvote-count {
            margin-left: 10px;
            font-size: 50px;
          }
        }
      }
    }
  }
}
