.selector-list-header {
    height: $mobile_team_selector_list_item_height;
    width: 100%;
    padding-left: 15px;

  .selector-list-header-text {
      vertical-align: middle;
      text-align: center;
      line-height: $mobile_team_selector_list_item_height;
      margin-right: 15px;
      font-size: 40px;
  }
}

.selector-filter-container {
  margin-top: 10px;
}

.selector-list-container {
    max-height: none;
    overflow: visible;

    .selector-list-item {
      height: $mobile_team_selector_list_item_height;
      width: 100%;
      align-items: center;
      font-size: 40px;

      .selector-list-item-text {
        vertical-align: middle;
        text-align: center;
        line-height: $mobile_team_selector_list_item_height;
        margin-right: 15px;
        font-size: 40px;
      }

      i {
        line-height: $mobile_team_selector_list_item_height;
        font-size: 40px;
      }
    }
}

.selector-button {

    i.selector-button-icon {
      font-size: 30px;
    }

    .selector-button-text-wrapper {
      max-width: 200px;
    }

    .selector-button-text {
      font-size: 30px;
    }

    i.selector-button-chevron {
      font-size: 20px;
    }
  }
