@use "../_variables.scss";

.editable-document-card-title {
  height: 100%;
  border: none;

  .input-validation-message {
    font-size: variables.$mobile_font_size_large - 20px;
  }

  .editable-text {
    max-width: 100%;
    font-size: variables.$mobile_font_size_large;
    line-height: variables.$mobile_font_size_large + 5px;
    margin-top: 5px;
  }

  .editable-text-input-container {
    min-width: 90%;
    max-width: 90%;

    .ms-TextField-wrapper {
      .ms-TextField-fieldGroup {
        .editable-text-input {
          font-size: variables.$mobile_font_size_large;
          line-height: variables.$mobile_font_size_large + 5px;
        }
      }
    }
  }
}
