@import "../_variables.scss";

.editable-document-card-title {
  height: 100%;

  .input-validation-message {
    font-size: $mobile_font_size_main - 20px;
  }

  .editable-text {
    max-width: 100%;
    font-size: $mobile_font_size_main;
    line-height: $mobile_font_size_main + 5px;
    margin-top: 10px;
  }

  .editable-text-input-container {
    min-width: 90%;
    max-width: 90%;

    .ms-TextField-wrapper {
      .ms-TextField-fieldGroup {
        .editable-text-input {
          font-size: $mobile_font_size_main;
          line-height: $mobile_font_size_main + 5px;
        }
      }
    }
  }
}