@import "../_variables.scss";

.feedbackItem {
  flex-basis: 100%;

  &.hideFeedbackItem .card-content {
    filter: blur(15px);
    pointer-events: none;
  }

  .mainItemCard {
    min-width: calc(100vw - 45px);
    max-width: calc(100vw - 45px);

    .card-integral-part {
      .card-header {
        height: $mobile_feedback_item_header_height;

        .feedback-action-button {
          height: 65px;
          min-width: $mobile_feedback_item_action_button_width;
          max-width: 200px;
          margin-right: 15px;
          margin-left: 15px;
          margin-top: 10px;
          padding: 1px 7px;

          i {
            height: 65px;
            line-height: 1.3;
            font-size: $mobile_font_size_main;
          }
        }

        .feedback-add-vote {
            &:hover:not(:disabled) {
            i {
              color: grey;
            }
          }

          .feedback-upvote-count {
            margin-left: 10px;
            font-size: $mobile_font_size_main;
            line-height: 1.3;
          }
        }

        .item-actions-menu {
          padding: 15px 15px 0 0;

          .contextual-menu-button {
            height: 60px;
            width: 45px;

            i {
              height: 65px;
              width: 45px;
              line-height: 1.3;
              font-size: 50px;
              margin-right: 7px;
            }
          }
        }
      }

      .ms-DocumentCardActivity, .anonymous-created-date {
        display: none;
      }
    }
  }
}