### Service Principal info
SUBSCRIPTION_ID="{subscription id}"
TENANT_ID="{tenant id}"
SERVICE_PRINCIPAL_ID="{service principal id}"
SERVICE_PRINCIPAL_SECRET="{service principal secret}"

### Azure resource info
RESOURCE_NAME_SUFFIX="{resource name suffix}"
LOCATION="{location}"

### Recipient email for Alerts. Escape the at-mark '@'.
ALERT_RECIPIENT_EMAIL="{jdoe\@bar.com}"
