@use "sass:meta";
@use "_variables.scss";

.mobile-mode {
  @include meta.load-css("mobile/mobileAddActionItem.scss");
  @include meta.load-css("mobile/mobileFeedbackBoard.scss");
  @include meta.load-css("mobile/mobileFeedbackBoardContainer.scss");
  @include meta.load-css("mobile/mobileFeedbackColumn.scss");
  @include meta.load-css("mobile/mobileFeedbackItem.scss");
  @include meta.load-css("mobile/mobileEditableDocumentCardTitle.scss");
  @include meta.load-css("mobile/mobileBoardSummary.scss");
  @include meta.load-css("mobile/mobileContextualMenu.scss");
  @include meta.load-css("mobile/mobileSelectorCombo.scss");
  @include meta.load-css("mobile/mobileFeedbackBoardMetadataForm.scss");

  .hide-desktop {
    display: initial !important;
  }

  .hide-mobile {
    display: none !important;
  }

  .hide-collapse {
    display: none;
  }

  .collapse {
    width: 100%;
  }

  #root {
    max-width: variables.$mobile_breakpoint;
  }

  #vss_1 {
    font-size: variables.$mobile_font_size;
    min-height: 50px;
    flex-basis: 100%;
  }

  select,
  textarea,
  input {
    font-size: 25px;
  }

  // Styles for dropdown items, which for unknown reasons are not a child of
  // the ms-Dropdown element
  .ms-Callout-container {
    .ms-Dropdown-callout {
      left: 14px !important; // Necessary evil to override fabric ui styling
      width: 694px;

      .ms-Dropdown-optionText {
        font-size: 24px;
        height: 40px;
        padding-top: 10px;
      }
    }
  }
}
