@use "_variables.scss";
@use "feedbackBoardContainer";
@use "mixins";

.related-task-sub-card {
  height: 35px;
  margin: 0;
  max-width: 100%;
  border: none;
  background-color: var(--background-color);
  color: var(--text-primary-color);

  @include mixins.vsts-workitem-colors;

  .ms-Image-image {
    width: 16px;
  }

  .ms-Button--icon {
    background-color: var(--background-color);

    .ms-Button-icon {
      &:hover {
        color: variables.$azdo_blue;
      }
    }
  }

  .ms-DocumentCard-details {
    padding-right: 16px;

    &:hover {
      cursor: pointer;
    }
  }

  .ms-DocumentCardPreview-iconContainer2 {
    width: 30px;
  }

  .ms-DocumentCardTitle {
    line-height: 10px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 10px;
    color: var(--text-primary-color);
  }

  &.resolved-border-right {
    border-right: 3px solid rgb(51, 153, 51);

    &:hover {
      border-right-color: rgb(51, 153, 51);
    }
  }
}

.work-item-icon {
  width: 16px;
}

.action-item-selector {
  @include mixins.vsts-workitem-colors;
}

.add-action-item-wrapper {
  display: flex;
  max-width: 100%;
  background-color: var(--nav-vertical-background-color);

  .feedback-spacer {
    flex: 1;
  }

  .add-action-item-section {
    .add-action-item-button {
      height: 32px;
      color: var(--text-primary-color);
    }
  }
}

.add-action-item-list-items {
  .ms-List-cell {
    &:hover {
      background-color: var(--border-subtle-color);
    }
  }
}

.action-items {
  .work-item-type-icon-container {
    background-color: var(--background-color);
  }

  .ms-DocumentCard {
    .ms-DocumentCardActions {
      padding: 0 4px 0 0;

      .ms-DocumentCardActions-action {
        height: 30px;
        width: 25px;

        .ms-Button {
          .ms-Button-flexContainer {
            i {
              color: variables.$azdo_blue;
              font-size: 12px;
            }
          }

          &:hover:not(:disabled) {
            i {
              font-weight: bolder;
            }
          }
        }
      }
    }
  }
}

.add-action-item-callout {
  .ms-Callout-main {
    max-height: 90vh;

    .work-item-list-divider {
      border-width: 1px;
      border-style: solid;
      border-color: rgb(234, 234, 234);
    }

    .add-action-item-list-container {
      background-color: var(--background-color);

      .add-action-item-list-item {
        display: flex;
        cursor: pointer;
        padding-left: 8px;
        align-items: center;
        justify-content: flex-start;
        background-color: inherit;
        width: 100%;
        border: 0px hidden;
        overflow: hidden;

        .work-item-icon.fas.fa-link {
          color: var(--border-subtle-color);
        }

        .work-item-icon {
          margin-right: 8px;
          width: 16px;
        }

        .add-action-item-list-item-text {
          line-height: feedbackBoardContainer.$team_selector_list_item_height;
          margin-right: 15px;
          font-size: 14px;
          font-weight: normal;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: var(--text-primary-color);
        }
      }
    }
  }
}

.retrospectives-link-existing-work-item-dialog {
  width: 500px;
  height: 250px;
  max-width: 500px;

  .error-container {
    height: 20px;
  }

  .output-container {
    height: 40px;
  }

  .related-task-sub-card {
    width: 100%;
  }

  .work-item-not-found {
    width: 100%;
  }

  .input-validation-message {
    color: variables.$bug_red;
  }

  .work-item-id-input {
    width: 100%;
  }
}
