.contextual-menu-button {
  height: 30px;
  min-width: 40px;
  background-color: inherit;
  padding: 0px 4px;
  border: none;
  color: rgba(var(--palette-neutral-80), 1);

  i[data-icon-name="ChevronDown"] {
    display: none;
  }

  &:hover {
    background-color: rgba(var(--palette-neutral-0), 0.15);
    color: var(--text-primary-color);
  }
}

.ms-ContextualMenu-Callout {
  .ms-Callout-main {
    background-color: var(--callout-background-color);
  }
}

.extended-options-menu {
  background-color: var(--callout-background-color);
  max-height: none;
}

.extended-options-menu button.ms-ContextualMenu-link {
  color: var(--text-primary-color);
}

/* Apply hover effect similar to .board-actions-menu */
.extended-options-menu button.ms-ContextualMenu-link:hover {
  background-color: var(--border-subtle-color); /* Matches the other menu */
  color: var(--text-primary-color);
}

.whatsnew-dialog, .gethelp-dialog, .prime-directive-dialog {
  background-color: var(--background-color);

  div[role=heading] {
    color: var(--text-primary-color);
    padding-bottom: 10px; 
  }

  p.ms-Dialog-subText {
    color: var(--text-primary-color);
  }

  .ms-Dialog-header {
    button.ms-Dialog-button {
      color: var(--text-primary-color);
    }
  }

  .ms-Dialog-inner a {
    color: var(--palette-primary-darken-6);
    text-decoration: underline;
  }
}
