.extension-settings-menu {
  margin-top: 5px;

  .ms-Button-label {
    font-size: 0.9em;
  }
}

.menu-item-dialog-list {
  list-style: initial;
  padding-left: 1rem;
}

.markdown-content p {
  margin-bottom: 1rem;
}

.markdown-content ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}
