@use "_variables.scss";
@use "mixins";

.feedbackItem {
  margin: 0px 12px 12px 0px;
  break-inside: avoid-column;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  max-width: 320px;
  min-width: 260px;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    .mainItemCard {
      outline: 3px solid #0078d4;
      outline-offset: 2px;
      box-shadow: 0 0 8px rgba(0, 120, 212, 0.3);
    }
  }

  &.newFeedbackItem {
    .ms-DocumentCard {
      animation: fadeInFromGreen 1000ms ease-in 1;
    }
  }

  &.removeFeedbackItem {
    .ms-DocumentCard {
      animation: fadeOutToRed 1000ms ease-in 1 forwards;
    }
  }

  &.hideFeedbackItem .card-content {
    filter: blur(5px);
    pointer-events: none;
  }

  .document-card-wrapper {
    position: relative;
  }

  .mainItemCard {
    width: 100%;
    max-width: 320px;
    background-color: var(--background-color);
    box-sizing: border-box;
    border-top: 1px solid rgb(96, 94, 92);
    border-right: 1px solid rgb(96, 94, 92);
    border-bottom: 1px solid rgb(96, 94, 92);
    border-left: 0;

    .card-integral-part {
      border-left-width: 3px;
      border-left-style: solid;

      .ms-DocumentCardActivity .ms-DocumentCardActivity-details span {
        color: var(--text-secondary-color);
      }

      .card-header {
        height: variables.$feedback_item_header_height;
        display: inline-flex;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 10px;

        .feedback-action-button {
          height: variables.$feedback_item_action_button_height;
          min-width: variables.$feedback_item_action_button_width;
          max-width: 100px;
          z-index: 1;
          padding: 0px 2px;
          align-items: center;
          margin: 0px 2px;
          background-color: inherit;
          border: none;
          display: flex;
          justify-content: center;

          i {
            line-height: variables.$feedback_item_action_button_height - 5px;
            color: var(--text-secondary-color);
            font-size: 14px;
          }

          &:focus {
            border: none;
          }

          &:focus-visible {
            outline: 2px solid #0078d4;
            outline-offset: 2px;
            border-radius: 3px;
          }

          &:disabled {
            opacity: 0.5;
            cursor: default;
          }
        }

        .feedback-expand-group-focus {
          height: variables.$feedback_item_header_height;
          max-width: 150px;
          z-index: 1;
          margin: 0 auto 0 0;
          padding: 0 5px 0 0;
          background-color: inherit;
          border: none;
          display: flex;
          line-height: variables.$feedback_item_header_height;
          font-size: 12px;
          font-weight: 600;
          color: var(--text-primary-color);

          i {
            width: 36px;
            margin-left: 2px;
            line-height: inherit;
            margin-right: -4px;
          }

          &:focus-visible {
            outline: 2px solid #0078d4;
            outline-offset: 2px;
            border-radius: 3px;
          }
        }

        .feedback-add-vote {
          &:hover:not(:disabled) {
            i {
              color: variables.$main_blue;
            }
          }

          &.voteAnimation {
            animation: push 0.3s linear 1;

            i {
              color: variables.$main_blue !important;
            }
          }

          .feedback-upvote-count {
            color: var(--text-secondary-color);
            line-height: variables.$feedback_item_action_button_height - 5px;
            margin-left: 5px;

            &.bold {
              font-weight: 600; // apply a light bold when requested
            }
          }
        }

        .item-actions-menu {
          padding-right: 3px;

          .contextual-menu-button {
            min-width: 25px;
            width: 25px;

            &:focus-visible {
              outline: 2px solid #0078d4;
              outline-offset: 2px;
            }
          }
        }
      }

      .card-content {
        display: flex;
        flex-direction: column;
        margin-right: 16px;
        margin-left: 16px;

        .original-column-info {
          text-align: right;
          font-weight: 300;
          font-style: italic;
          font-size: 0.75em;
          color: var(--text-secondary-color);
        }

        .feedback-yourvote-count {
          font-size: 0.85em;

          &.bold {
            font-weight: 500; // apply lighter bold when requested
          }
        }
      }

      .card-id {
        margin-left: 16px;
        padding-bottom: 8px;
        color: var(--text-secondary-color);
      }

      .ms-DocumentCardActivity {
        .msDocumentCardActivity-details {
          padding-left: 5px;
        }
      }

      .anonymous-created-date {
        padding: 8px 16px;
        display: block;
        font-size: 14px;
        font-weight: lighter;
        line-height: 18px;
        overflow: hidden;
        word-wrap: break-word;
        height: 45px;
      }
    }

    .card-action-timer {
      margin-bottom: 10px;
      color: var(--text-primary-color);
      background-color: var(--nav-header-active-item-background);
      padding: 2px 6px;
    }

    .group-child-feedback-stack {
      width: 100%;

      .related-feedback-header {
        font-weight: bolder;
        color: var(--text-primary-color);
        padding: 8px;
        background-color: var(--nav-vertical-background-color);
      }

      ul {
        list-style: none;
      }

      .fa-ul {
        margin-top: 0;
        margin-left: 37px;

        .fa-li {
          border-style: solid;
          height: 30px;
          border-width: 0 3px 0 0;
          border-color: var(--text-secondary-color);
          color: var(--text-disabled-color);
        }

        li {
          word-wrap: break-word;
          padding: 5px;
          border-bottom-style: solid;
          border-bottom-color: var(--text-disabled-color);
          border-bottom-width: 1px;

          span {
            line-height: 30px; // Height set for icon and feedback title and not any additional text ('Original Column: X')
          }

          &:last-child {
            border: 0;
          }

          .original-column-info {
            text-align: right;
            font-weight: 300;
            font-style: italic;
            font-size: 0.75em;
          }

          .related-feedback-title {
            margin-left: 10px;
            color: var(--text-primary-color);
            line-height: 1.2; // Reduce vertical spacing between lines
            font-size: 0.95em; // Adjust font size for compactness
            @include mixins.max-line-render(2);
          }
        }
      }
    }
  }
}

.retrospectives-move-feedback-item-dialog {
  background-color: var(--background-color);

  .ms-Dialog-title,
  .ms-Dialog-subText {
    color: var(--text-primary-color);
  }

  .move-feedback-item-column-button {
    i {
      margin-right: 10px;
    }
  }
}

.retrospectives-group-feedback-item-dialog {
  background-color: var(--background-color);

  .ms-SearchBox {
    margin-top: 1em;
  }

  .ms-Dialog-title,
  .ms-Dialog-subText {
    color: var(--text-primary-color);
  }

  .output-container {
    overflow-y: auto;
    height: 300px;

    .no-matching-feedback-message {
      font-size: 15px;
      font-style: italic;
      color: var(--text-primary-color);
    }

    .feedback-item-search-result-item {
      cursor: pointer;
      text-align: start;
      display: block;
      width: 100%;

      &:focus,
      &:active,
      &:hover {
        .feedbackItem {
          .mainItemCard {
            border: 2px solid variables.$main_blue;
          }
        }
      }

      .feedbackItem {
        margin: 0;
        width: 100%;

        .mainItemCard {
          min-width: 100%;

          .card-header {
            display: none;
          }

          .non-editable-text-container {
            width: 100%;
            word-wrap: break-word;
          }

          .anonymous-created-date .card-id,
          .non-editable-text-container,
          .card-id {
            color: var(--text-primary-color);
          }
        }
      }
    }
  }

  .ms-DocumentCardActivity-avatar::after {
    border: 1px solid var(--text-primary-color);
  }
}

.feedback-action-menu {
  border: 1px solid var(--border-subtle-color);

  .ms-ContextualMenu-list {
    background-color: var(--background-color);

    .ms-ContextualMenu-itemText {
      color: var(--text-primary-color);
    }

    .ms-ContextualMenu-link {
      &:hover {
        color: var(--text-primary-color);
        background-color: var(--border-subtle-color);
      }

      &.is-disabled {
        .ms-ContextualMenu-itemText {
          color: var(--text-disabled-color);
        }
      }
    }
  }
}

.retrospectives-archive-board-confirmation-dialog,
.retrospectives-remove-feedback-item-from-group-dialog,
.retrospectives-delete-board-confirmation-dialog,
.retrospectives-delete-feedback-item-dialog {
  background-color: var(--background-color);
  max-width: 450px;
  width: 90%;

  .ms-Dialog-title,
  .ms-Dialog-subText {
    color: var(--text-primary-color);
  }

  .ms-Button--primary {
    background-color: variables.$azdo_blue;
    color: white;
  }
}
