@import "_variables.scss";

$feedback_column_card_height: 60px;

.board-metadata-form {
  text-align: center;
  margin-top: 1em;

  hr {
    border: 0.5px solid $azdo_blue;
  }

  .board-metadata-form-section-information {
    border: 3px #dedede solid;
    background-color: #dedede;
    margin: 5px 0 10px 0;
    padding: 0.2em;

    &.warning-information {
      background-color: #f6a608;
      border: none;
    }
  }

  .board-metadata-form-setting-label {
    display: flex;
  }

  .board-metadata-form-anonymous-feedback-section {
    margin: 20px 40px;
  }

  .board-metadata-form-section-header {
    padding: 5px 10px;
    font-size: 1.1em;
    font-weight: 500;
    margin: 0;
    background-color: #0078d483;
    text-align: right;
    color: var(--text-primary-color);

    &.bottom-padding-zero {
      padding-bottom: 0;
    }
  }

  .board-metadata-edit-column-settings {
    border: $border_grey 1px solid;
    padding: 10px;
  }

  .board-metadata-form-section-subheader {
    font-size: 1em;
    font-weight: 600;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0.2em;
    color: var(--text-primary-color);

    label {
      flex-grow: 1;
      text-align: start;
    }
  }

  .ms-Checkbox {
    &.is-checked {
      .ms-Checkbox-checkbox {
        background-color: var(--background-color);

        &:hover {
          background-color: $azdo_blue;
          color: white;
        }
      }

      .ms-Checkbox-checkmark {
        color: var(--text-primary-color);

        &:hover {
          color: white;
        }
      }
    }

    &.is-disabled {
      .ms-Checkbox-checkbox {
        &:hover {
          background-color: var(--background-color);
        }
      }
    }

    .ms-Checkbox-text {
      color: var(--text-primary-color);

      &:hover {
        color: $azdo_blue;
      }
    }

    .ms-Checkbox-checkbox {
      background-color: var(--background-color);
      border-color: #aaa;

      &:hover {
        background-color: $azdo_blue;
      }
    }

    .ms-Checkbox-checkmark {
      color: var(--text-primary-color);

      &:hover {
        color: white;
      }
    }
  }

  .feedback-column-card {
    background-color: var(---nav-vertical-background-color);
    color: var(--text-primary-color);
    height: $feedback_column_card_height;
    margin-top: 10px;
    align-items: center;

    .feedback-column-card-icon-button,
    .feedback-column-card-accent-color-button {
      background: none;
      min-width: 30px;
      padding-left: 0px;
      padding-right: 0px;
      margin-left: 5px;
      margin-right: 5px;
      border: none;
      color: var(--text-primary-color);

      &:hover {
        background: #f4f4f4;
        color: var(--background-color);
      }
    }

    .editable-document-card-title {
      margin-top: 0px;
      min-height: auto;
      color: inherit;

      .input-validation-message {
        float: none;
        display: block;
        font-size: 12px;
      }

      .editable-text {
        display: inherit;
        margin-left: 10px;
        font-size: 1.1em;
        line-height: 1.1em;
        text-align: start;
      }

      .editable-text-input-container {
        padding-top: 0px;
        width: auto;
      }
    }

    .feedback-column-card-move-up-button,
    .feedback-column-card-move-down-button,
    .feedback-column-card-delete-button {
      background-color: var(--background-color);
      border: none;
      margin: 0 3px;

      &:hover {
        background: #f4f4f4;
      }

      &.is-disabled {
        background-color: var(--text-disabled-color);

        i {
          color: var(--text-disabled-color);
        }
      }
    }

    &.marked-for-deletion {
      background-color: var(--text-disabled-color);
      margin-left: 2px;

      .feedback-column-card-icon {
        color: rgba(0, 0, 0, 0.3);
      }

      .editable-text {
        color: rgba(0, 0, 0, 0.3);
      }

      i {
        &.ms-Button-icon {
          color: rgba(0, 0, 0, 0.3);
        }
      }

      .feedback-column-card-undelete-button {
        background: white;
        border: none;

        &:hover {
          background: #f4f4f4;
          color: var(--status-info-foreground);
        }

        &.is-disabled {
          i {
            &.ms-Button-icon {
              color: rgba(0, 0, 0, 0.25);
            }
          }
        }

        i {
          &.ms-Button-icon {
            color: rgba(0, 0, 0, 1);
          }
        }
      }
    }
  }

  .create-feedback-column-card-button-wrapper {
    .create-feedback-column-card-button {
      border: none;
      color: var(--text-primary-color);
    }

    .ms-Button-icon {
      color: var(--status-info-foreground);
      background-color: var(--nav-vertical-background-color);
      padding: 4px;
      height: 22px;
    }
  }

  .board-metadata-logo {
    margin-bottom: 20px;
  }

  .input-validation-message {
    color: $bug_red;
  }

  .title-input-container {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2px;
    flex-grow: 1;

    &.column-template-dropdown {
      display: inline-flex;
      background-color: var(--background-color);
      font-weight: normal;
      margin-left: 10px;
      width: 66%;
    }

    &.max-vote-counter {
      .ms-TextField-wrapper {
        .ms-TextField-fieldGroup {
          width: 100%;
        }
      }
    }

    .ms-TextField-wrapper {
      display: flex;
      align-items: center;
      width: 100%;

      .ms-Label {
        width: 50px;
      }

      .ms-TextField-fieldGroup {
        width: 100%;
        max-width: 100%;

        #retrospective-title-input {
          width: 100%;
        }
      }
    }

    .ms-TextField-errorMessage {
      margin-left: -82px;
    }
  }
}

.retrospectives-choose-column-accent-color-dialog {
  .choose-feedback-column-accent-color-button {
    font-size: 30px;
    height: 50px;
    margin: 5px 5px 5px 5px;
  }
}

.retrospectives-choose-column-icon-dialog {
  .choose-feedback-column-icon-button {
    font-size: 30px;
    height: 50px;
    margin: 5px 5px 5px 5px;
  }
}

.retrospectives-board-metadata-dialog {
  width: 500px;
  max-width: 500px;
  max-height: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--background-color);

  .ms-Dialog-title {
    color: var(--text-primary-color);
  }
}

.ms-Checkbox:not(.is-checked):hover .ms-Checkbox-checkmark{
  display:none;
}
