div[role="toolbar"] .ms-FocusZone {
  height: 40px;
}

.ms-FocusZone {
  padding-top: 11px;

  .ms-Pivot-link {
    &.is-selected {
      background-color: var(--border-subtle-color);
      border-radius: 5px 5px 0 0;
    }

    border-radius: 5px 5px 0 0;
    border-top: 1px solid var(--border-subtle-color);
    border-left: 1px solid var(--border-subtle-color);
    border-right: 1px solid var(--border-subtle-color);
  }
}

.feedback-board {
  width: 100%;
  display: table;
  table-layout: fixed;

  .feedback-columns-container {
    display: table-row;

    background-color: rgba(var(--palette-neutral-2, 248, 248, 248), 1);
  }

  .feedback-maxvotes-per-user {
    font-size: 16px;
    margin: 0.5em 1em;

    span {
      margin: 1em;
    }
  }
}
