@tailwind base;
@tailwind components;
@tailwind utilities;

.ms-Button--primary {
  background-color: #fff;
  color: rgb(0, 120, 212);
  border: 1px solid rgb(0, 120, 212);
}

.ms-Button--primary:hover {
  background-color: rgb(0, 120, 212);
  color: #fff;
}

.ms-Button--default {
  background-color: #fff;
}

div.ms-Tooltip-content p.ms-Tooltip-subtext a {
  @apply text-blue-500 underline;
}

.ms-Pivot .ms-Button {
  color: var(--text-primary-color);
}

.ms-Pivot-link:hover {
  color: var(--status-info-foreground);
  background-color: inherit;
}

.ms-Checkbox.is-disabled {
  background-color: transparent !important;
}

.is-disabled .ms-Checkbox-text {
  color: var(--text-disabled-color) !important;
}

.is-disabled .ms-Checkbox-checkbox {
  color: var(--text-disabled-color) !important;
}

.is-disabled .ms-Checkbox-checkmark {
  color: var(--text-disabled-color) !important;
}

.is-disabled {
  background-color: var(--text-disabled-color) !important;
  border-color: var(--text-disabled-color) !important;
  color: var(--text-disabled-color) !important;
}

.ms-ContextualMenu-divider {
  opacity: 0.2;
}
