@use "_variables.scss";
@use "_animations.scss";
@use "_mixins.scss";
@use "editableDocumentCardTitle.scss";
@use "feedbackBoardContainer.scss";
@use "noFeedbackBoardsView.scss";
@use "feedbackBoardMetadataForm.scss";
@use "feedbackBoardMetadataFormPermissions.scss";
@use "feedbackBoardPreviewEmail.scss";
@use "feedbackBoard.scss";
@use "feedbackColumn.scss";
@use "feedbackItem.scss";
@use "feedbackItemGroup.scss";
@use "feedbackCarousel.scss";
@use "addActionItem.scss";
@use "boardSummary.scss";
@use "extensionSettingsMenu.scss";
@use "contextualMenu.scss";
@use "selectorCombo.scss";
@use "_mobile.scss";
@use "_highContrast.scss";
@use "retrospectiveSummary.scss";

@import "../node_modules/react-toastify/dist/ReactToastify.css";

body {
  overflow-y: auto;
  font-family: variables.$default_vsts_font;
}

.ms-ContextualMenuButtonsExample {
  display: flex;
  background-color: variables.$azure_devops_navigator_light_grey;
}

// VSS automatically adds border and boldfaces button text. This doesn't look good with Office Fabric, so we will remove the styling.
button:hover:not(.ms-Button),
button:focus:not(.ms-Button) {
  border: none;

  // !important required to override the "bold !important" style in VSS bundle.
  font-weight: normal !important;
}

#vss_1 {
  max-width: 400px;
  min-height: 30px;
}

.anonymous_checkbox .title-input .create-button {
  margin-right: 5px;
}

.desktop-mode {
  .hide-desktop {
    display: none !important;
  }
  .hide-mobile {
    display: initial !important;
  }
}
