@use "_variables.scss";
@use "_animations.scss";
@use "_mixins.scss";
@use "feedbackBoardContainer.scss";
@use "feedbackBoardMetadataForm.scss";
@use "feedbackColumn.scss";
@use "feedbackItem.scss";
@use "feedbackCarousel.scss";
@use "addActionItem.scss";
@use "boardSummary.scss";
@use "retrospectiveSummary.scss";

@import "../node_modules/react-toastify/dist/ReactToastify.css";

body {
  overflow: hidden;
}

// VSS automatically adds border and boldfaces button text. This doesn't look good with Office Fabric, so we will remove the styling.
button:hover:not(.ms-Button),
button:focus:not(.ms-Button) {
  border: none;

  // !important required to override the "bold !important" style in VSS bundle.
  font-weight: normal !important;
}

#vss_1 {
  max-width: 400px;
  min-height: 30px;
}

.desktop-mode {
  .hide-desktop {
    display: none !important;
  }
  .hide-mobile {
    display: initial !important;
  }
}
