@use "feedbackBoardContainer";
@use "variables";

.selector-list-header {
  background-color: var(--background-color);
  display: flex;
  height: feedbackBoardContainer.$team_selector_list_item_height;
  width: feedbackBoardContainer.$team_selector_list_item_width;
  padding-left: 10px;

  .selector-list-header-text {
    vertical-align: middle;
    text-align: center;
    line-height: feedbackBoardContainer.$team_selector_list_item_height;
    color: variables.$main_blue;
    font-weight: 600;
    font-size: 14px;
  }
}

.selector-list-container {
  max-height: 250px;
  overflow: auto;

  .selector-list-item {
    background-color: var(--background-color);
    height: feedbackBoardContainer.$team_selector_list_item_height;
    width: feedbackBoardContainer.$team_selector_list_item_width;
    display: flex;
    cursor: pointer;
    padding-left: 8px;
    color: var(--text-primary-color);

    &:hover {
      background-color: var(--border-subtle-color);
      color: #000;
    }
  }

  .selector-list-item-text {
    vertical-align: middle;
    line-height: feedbackBoardContainer.$team_selector_list_item_height;
    margin-right: 15px;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  i {
    vertical-align: middle;
    text-align: center;
    line-height: feedbackBoardContainer.$team_selector_list_item_height;
    margin-right: 8px;
    font-size: 16px;
  }
}

.selector-button {
  background-color: variables.$hover_grey;
  display: flex;
  height: 30px;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
    color: var(--text-primary-color);
  }

  i.selector-button-icon {
    font-size: 18px;
    line-height: 30px;
    margin-right: 4px;
  }

  .selector-button-text-wrapper {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 8px;
  }

  .selector-button-text {
    font-size: 18px;
    line-height: 30px;
    display: inline;
    white-space: nowrap;
  }

  i.selector-button-chevron {
    font-size: 12px;
    line-height: 30px;
  }
}

.list-item-shimmer {
  padding: 5px 20px;
}
