.contextual-menu-button {
  height: 30px;
  min-width: 40px;
  background-color: inherit;
  padding: 0px 4px;
  border: none;
  color: rgba(var(--palette-neutral-80,51, 51, 51),1);

  i[data-icon-name="ChevronDown"] {
    display: none;
  }

  &:hover {
    background-color: inherit;
  }
}
