.contextual-menu-button {
  height: 30px;
  min-width: 40px;
  background-color: inherit;
  padding: 0px 4px;
  border: none;

  i[data-icon-name="ChevronDown"] {
    display: none;
  }

  &:hover {
    background-color: rgba(0, 0, 0, .04);
  }
}
