$stage_block_width: 90px;
$team_selector_list_item_height: 32px;
$team_selector_list_item_width: 450px;

// Make the exit buttons more visible
.ms-Dialog-button {
  &.ms-Dialog-button--close {
    .ms-Button-icon {
      color: var(--text-primary-color);
    }

    &:hover {
      background-color: var(--border-subtle-color);
    }
  }
}

.feedback-board-container {
  display: flex;
  height: calc(100vh - #{$extension_header_height} - #{$second_level_header_height});
  overflow-y: auto;
}

.initialization-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

.feedback-board-container-header-spacer {
  background: $azure_devops_navigator_dark_grey;
  height: 1px;
  z-index: 2;
  width: 100%;
  position: fixed;
  margin-top: 40px;
}

.extension-header-spacer {
  padding-bottom: $extension_header_height;
}

.team-filter-container {
  .ms-TextField {
    margin: 8px 6px;
  }
}

.toggle-carousel-button-tooltip-wrapper {
  position: relative;

  .toggle-carousel-button {
    margin: 8px;
    font-size: 13px;
    color: var(--text-primary-color);

    &:hover {
      color: var(--status-info-foreground);

      .ms-Button-icon {
        color: var(--status-info-foreground) !important;
      }
    }

    .ms-Button-icon {
      color: var(--text-primary-color) !important;
    }

    .ms-Button-textContainer {
      .ms-Button-label {
        width: 100%;
      }
    }
  }
}

#extension-header {
  display: flex;
  z-index: 2;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 15px;

  .extension-title-text {
    font-size: 26px;
    line-height: 40px;
    letter-spacing: -.04em;
    font-weight: 500;
  }

  .contact-us-button {
    margin-top: 5px;
    margin-left: auto;
    margin-right: 20px;

    .ms-Button {
      min-width: 40px;
    }

    &:hover {
      background-color: $hover_grey;
    }

    i {
      color: black;
    }
  }

  .team-selector {
    font-weight: 400;
    display: flex;
    align-items: baseline;
    margin: 0 25px;
    padding-top: 4px;
  }
}

.pivot-container {
  position: fixed;
  top: $extension_header_height;
  z-index: 2;
  width: 100%;
  align-items: center;
  justify-content: flex-start;

  .ms-Pivot {
    margin-left: calc(#{$header_horizontal_spacing} - 8px);
  }

  .pivot-content-wrapper {
    position: absolute;
    width: 100%;
  }

  button[role=tab] {
    color: rgba(var(--palette-neutral-80, 51, 51, 51), 1);

    &:hover {
      color: rgba(var(--palette-neutral-80, 51, 51, 51), 1);
      background-color: transparent;
    }
  }
}

.vertical-tab-separator {
  width: 2px;
  display: flex;
  height: 24px;
  margin-right: 16px;
  background: $border_grey;
  margin-top: 12px
}

.feedback-board-container-header {
  display: flex;
  position: absolute;
  z-index: 2;
  align-items: center;
  justify-content: flex-start;
  margin-left: 200px;
  padding-right: $header_horizontal_spacing;
  margin-top: -56px;

  .menu-button {
    margin-left: 5px;
    margin-right: 20px;
    background-color: $azure_devops_navigator_light_grey;
  }

  .board-selector-group {
    display: flex;
    padding-top: 12px;
    align-items: center;

    .board-selector {
      font-size: 16px;
      display: flex;
      align-items: baseline;

      .selector-button {
        margin-left: -8px;
      }
    }
  }

  .board-actions-menu {
    margin-left: 5px;
  }

  .feedback-workflow-wrapper {
    display: flex;
    align-items: center;
    margin-left: 35px;
    background-color: var(--border-subtle-color);

    .retrospective-workflowState {
      width: 72px;
      height: 40px;
      cursor: pointer;
      display: flex;
      text-align: center;
      align-items: center;

      .stage-text {
        font-size: 12px;
        width: 100%;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
        color: var(--text-primary-color);
      }

      &.active {
        color: var(--status-info-foreground);
        font-weight: bold;

        &::before {
          background-color: transparent;
          bottom: 0px;
          content: '';
          position: absolute;
          width: 44px;
          margin-left: 14px;
          box-sizing: border-box;
          border-bottom: 2px solid var(--status-info-foreground);
        }
      }
    }
  }

  .feedback-workflow-wrapper-background {
    position: relative;
    margin-left: -325px;
    top: 6px;
    z-index: -1;
  }
}

.info-message-bar {
  flex-direction: row;
  align-items: center;

  .ms-MessageBar-actions {
    margin-bottom: 5px;
    margin-right: 5px;
    min-width: 130px;
    min-height: 50px;

    .info-message-bar-action {
      margin-top: 5px;
      margin-right: 5px;
    }
  }
}

.team-effectiveness-section-information {
  border-radius: 5px;
  background-color: #dedede;
  margin: 5px auto 10px auto;
  padding: 3px;
  text-align: center;
  color: var(--toastify-text-color-light);
  width: 350px;
}

.team-effectiveness-measurement-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.5em;

  thead {
    text-align: center;

    .team-effectiveness-favorability-label {
      border-bottom: solid 4px var(--text-primary-color);
      outline: var(--background-color) 4px solid;
    }

    .voting-measurement-index {
      color: var(--background-color);
    }

  }

  tbody {
    .effectiveness-measurement-row {
      &:nth-child(odd) {
        background-color: var(--border-subtle-color);
      }

      th {
        font-weight: 400;
        text-align: center;
      }

      .effectiveness-measurement-question-cell {
        padding: 10px 0 10px 10px;
      }

      .effectivemess-measurement-voting-button {
        color: $azdo_blue  !important;
      }

      .effectiveness-measurement-tooltip-cell {
        border-right: $azdo_blue 2px solid;
      }
    }
  }
}

.team-effectiveness-dialog,
.prime-directive-dialog {
  background-color: var(--background-color);
  border: 3px solid var(--border-subtle-color);
  max-width: 700px;
  color: var(--text-primary-color);

  .ms-Dialog-title {
    color: var(--text-primary-color);
  }

  .ms-Dialog-content {
    .ms-Dialog-header {
      display: none;
    }

    .ms-Dialog-inner {
      padding: 0 3px 5px;
    }
  }
}

.board-actions-menu {
  background-color: var(--background-color);

  button.ms-ContextualMenu-link {
    color: var(--text-primary-color);

    &:hover {
      background-color: rgba(var(--palette-neutral-0), 0.05);
      color: var(--text-primary-color);
    }
  }
}

.metadata-form-save-button,
.prime-directive-close-button,
.whats-new-close-button,
.team-effectiveness-submit-button {
  background-color: $azdo_blue;
  color: white;
}
