@import "_variables.scss";

.feedback-column {
  border-right: 2px solid rgba(var(--palette-neutral-20, 200, 200, 200), 1);
  border-left: 2px solid rgba(var(--palette-neutral-20, 200, 200, 200), 1);
  display: table-cell;
  height: calc(100vh - 55px - 55px);
}

.feedback-column:last-child {
  border-right: none;
}

.feedback-column:first-child {
  border-left: none;
}

.feedback-column-header {
  padding: 10px;
  padding-top: 15px;
  padding-left: $header_horizontal_spacing;
  border-bottom: 3px solid rgba(var(--palette-neutral-20, 200, 200, 200), 1);

  .feedback-column-title {
    display: flex;
    align-items: center;

    .feedback-column-icon {
      font-size: 20px;
      padding-right: 5px;
    }

    .feedback-column-name {
      font-size: 15px;
      margin-left: 5px;
    }
  }
}

.feedback-column-content {
  padding: 10px;
  padding-left: $header_horizontal_spacing;
}

.feedback-items-container {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px 30px;
}

.create-container {
  display: inline-flex;

  .create-button {
    padding-left: 1em;

    i {
      margin-left: -4px;
    }

    .ms-Button-textContainer {
      color: rgba(var(--palette-neutral-80, 51, 51, 51), 1);
    }
  }
}
