$stage_block_width: 90px;
$team_selector_list_item_height: 32px;
$team_selector_list_item_width: 450px;

.feedback-board-container {
  display: flex;
  height: calc(100vh - #{$extension_header_height} - #{$second_level_header_height});
  overflow-y: auto;
}

.initialization-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

.retrospectives-board-metadata-dialog {
  width: 500px;
  max-width: 500px;
}

.feedback-board-container-header-spacer {
  background: $azure_devops_navigator_dark_grey;
  height: 1px;
  z-index: 2;
  width: 100%;
  position: fixed;
  margin-top: 40px;
}

.retrospectives-retro-summary-dialog {
  max-width: none;
  width: 40%;
}

.retrospectives-retro-summary-dialog img.avatar {
  height: 1.8em;
  border-radius: 50%;
  vertical-align: middle;
  margin-top: -5px;
}

.retrospectives-retro-summary-dialog .retro-summary-effectiveness-scores {
  clear: both;
  position: relative;
  min-width: 100px;
  min-height: 100px;
  padding: 0;
}

.retrospectives-retro-summary-dialog .retro-summary-effectiveness-scores ul.chart {
  flex-direction: row;
  padding: 0;
  margin: 10px 0;
  width: 100%;
  list-style: none;
}

.retrospectives-retro-summary-dialog .retro-summary-effectiveness-scores ul.chart li div {
  display: inline-block;
  min-height: 0.655em;
  padding: 8px;

  color: #ffffff;
  box-sizing: border-box;
  border: 1px solid #ffffff;
}

.retrospectives-retro-summary-dialog .retro-summary-effectiveness-scores .legend {
  display: flex;
  align-items: center;
}

.retrospectives-retro-summary-dialog .retro-summary-effectiveness-scores .legend section {
  display: flex;
  margin-right: 10px;
}

.retrospectives-retro-summary-dialog .retro-summary-effectiveness-scores .legend > span {
  width: 150px;
  font-size: large;
  justify-content: flex-end;
  padding-right: 10px;
}

.retrospectives-retro-summary-dialog .retro-summary-effectiveness-scores .legend section div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 4px;
}

.retrospectives-retro-summary-dialog .retro-summary-effectiveness-scores > * > * {
  display: flex;
}

.extension-header-spacer {
  padding-bottom: $extension_header_height;
}

.team-filter-container {
  .ms-TextField {
    margin: 8px 6px;
  }
}

.retrospective-notification-toast-container {
  top: 50px;

  .retrospective-notification-toast {
    .retrospective-notification-toast-body {
      font-family: $default_vsts_font;
      color: black;
      word-break: break-word;
    }

    .retrospective-notification-toast-progress-bar {
      background: $main_blue;
    }
  }
}

.toggle-carousel-button-tooltip-wrapper {
  position: relative;

  .toggle-carousel-button .ms-Button-icon {
    color: var(--text-primary-color) !important;
  }

  .toggle-carousel-button {
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;

    font-size: 13px;

    color: var(--text-primary-color);

    &:hover {
      color: var(--status-info-foreground);

      .ms-Button-icon {
        color: var(--status-info-foreground) !important;
      }
    }

    .ms-Button-icon {
      color: black;
      margin-top: 2px;
    }

    .ms-Button-textContainer {
      .ms-Button-label {
        width: 100%;
      }
    }
  }
}

#extension-header {
  display: flex;
  z-index: 2;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 15px;

  .extension-title-text{
    font-size: 26px;
    line-height: 40px;
    letter-spacing: -.04em;
    font-weight: 500;
  }

  .contact-us-button {
    margin-top: 5px;
    margin-left: auto;
    margin-right: 20px;

    .ms-Button {
      min-width: 40px;
    }

    &:hover {
      background-color: $hover_grey;
    }

    i {
      color: black;
    }
  }

  .team-selector {
    font-weight: 400;
    display: flex;
    align-items: baseline;
    margin: 0 25px;
    padding-top: 4px;
  }
}

.pivot-container {
  position: fixed;
  top: $extension_header_height;
  z-index: 2;
  width: 100%;
  align-items: center;
  justify-content: flex-start;

  .ms-Pivot {
    margin-left: calc(#{$header_horizontal_spacing} - 8px);
  }

  .pivot-content-wrapper {
    position: absolute;
    width: 100%;
  }
}

.pivot-container button[role=tab] {
  color: rgba(var(--palette-neutral-80,51, 51, 51),1);
}

.pivot-container button[role=tab]:hover {
  color: rgba(var(--palette-neutral-80,51, 51, 51),1);
  background-color: transparent;
}

.vertical-tab-separator {
  width: 2px;
  display: flex;
  height: 24px;
  margin-right: 16px;
  background: $border_grey;
  margin-top: 12px
}

.feedback-board-container-header {
  display: flex;
  position: absolute;
  z-index: 2;
  align-items: center;
  justify-content: flex-start;
  margin-left: 200px;
  padding-right: $header_horizontal_spacing;
  margin-top: -56px;

  .menu-button {
    margin-left: 5px;
    margin-right: 20px;
    background-color: $azure_devops_navigator_light_grey;
  }

  .board-selector-group {
    display: flex;
    padding-top: 12px;
    align-items: center;

    .board-selector {
      font-size: 16px;
      display: flex;
      align-items: baseline;

      .selector-button {
        margin-left: -8px;
      }
    }
  }

  .board-actions-menu {
    margin-left: 5px;
  }

  .feedback-workflow-wrapper {
    display: flex;
    align-items: center;
    margin-left: 35px;
    margin-top: 8px;
    background-color: rgba(0,0,0,0.04);

    .retrospective-workflowState {
      width: 72px;
      height: 40px;
      cursor: pointer;
      display: flex;
      text-align: center;
      align-items: center;

      .stage-text {
        font-size: 12px;
        width: 100%;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
        color: var(--text-primary-color);
      }

      &.active {
        color: var(--status-info-foreground);
        font-weight: bold;
        background-color: #c9c9c9;

        &::before {
          background-color: transparent;
          bottom: 0px;
          content: '';
          position: absolute;
          width: 44px;
          margin-left: 14px;
          box-sizing: border-box;
          border-bottom: 2px solid var(--status-info-foreground);
        }
      }
    }
  }

  .feedback-workflow-wrapper-background {
    position: relative;
    margin-left: -325px;
    top: 6px;
    z-index: -1;
  }
}

.info-message-bar {
  flex-direction: row;
  align-items: center;

  .ms-MessageBar-actions {
    margin-bottom: 5px;
    margin-right: 5px;
    min-width: 130px;
    min-height: 50px;

    .info-message-bar-action {
      margin-top: 5px;
      margin-right: 5px;
    }
  }
}

.team-effectiveness-measurement-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.5em;

  tr th {
    font-weight: 400;
    text-align: center;
  }

  tbody tr:hover {background-color: #ddd;}

  tr td button {
    color: darkslategray !important;
  }

  tr td button:hover {
    color: darkslategray !important;
  }
}

.prime-directive-dialog {
  .ms-Dialog-content {
    .ms-Dialog-header {
      display: none;
    }
    .ms-Dialog-inner {
      padding: 0 3px 5px;
    }
  }
}

.board-actions-menu {
  background-color: var(--background-color);
}

.board-actions-menu button.ms-ContextualMenu-link {
  color: var(--text-primary-color);
}

.board-actions-menu button.ms-ContextualMenu-link:hover {
  background-color: rgba(var(--palette-neutral-0), 0.05);
  color: var(--text-primary-color);
}
