.feedback-item-group {
  @extend .feedbackItem;

  .item-cards {
    display: flex;
    flex-direction: column;

    .feedbackItemGroupItem {
      &.removeFeedbackItem {
        .ms-DocumentCard {
          animation: fadeOutToRed 1000ms ease-in 1 forwards;
        }
      }
    }

    .item-cards-stack {
      display: none;
    }

    .mainItemCard {
      z-index: 1;

      .card-header {
        .feedback-expand-group {
          height: $feedback_item_header_height;
          max-width: 150px;
          z-index: 1;
          margin: 0 auto 0 0;
          padding: 0 5px 0 0;
          background-color: inherit;
          border: none;
          display: flex;
          line-height: $feedback_item_header_height;
          font-size: 12px;
          font-weight: 600;

          i {
            width: 36px;
            margin-left: 2px;
            line-height: inherit;
            margin-right: -4px;
          }
        }
      }
    }
  }

  &.feedback-item-group-expanded {
    .feedbackItemGroupGroupedItem {
      transform: scale(0.95);

      .groupedItemCard {
        @extend .mainItemCard;
        margin-top: 0px;

        .card-integral-part {
          border-left-width: 3px;
        }
      }
    }
  }

  &:not(.feedback-item-group-expanded) {
    .item-cards-stack {
      background-color: white;
      z-index: 0;
      display: block;
      margin-left: 8px;
      margin-right: -3px;
      max-width: $main_item_card_max_width - 5px;
    }
  }
}
