.feedback-board {
  width: 100%;
  display: table;
  table-layout: fixed;

  .feedback-columns-container {
    display: table-row;

    background-color: rgba(var(--palette-neutral-2, 248, 248, 248), 1);
  }

  .feedback-maxvotes-per-user {
    margin: 1em;

    span {
      margin: 1em;
    }
  }
}
