name: 'CD_Frontend'

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  deploy:
    name: Frontend - Deploy package
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@v4

    - uses: dorny/paths-filter@v3
      id: changes
      with:
        filters: |
          src:
            - 'RetrospectiveExtension.Frontend/**'

    - if: steps.changes.outputs.src == 'true'
      name: Install tools used for deployment
      run: |
        npm install -g tfx-cli node-jq

    - if: steps.changes.outputs.src == 'true'
      name: Prepare vss-extension-dev.json
      working-directory: 'RetrospectiveExtension.Frontend'
      run: |
        cp vss-extension-dev.json.template vss-extension-dev.json

        scripts/update_ext_manifest.sh \
          "vss-extension-dev.json" \
          "enginpolat" \
          "retrospective-vsts-extension-dev" \
          "${{ secrets.AZURE_DEVOPS_TOKEN }}"

    - if: steps.changes.outputs.src == 'true'
      name: Prepare extension package
      working-directory: 'RetrospectiveExtension.Frontend'
      env:
        REACT_APP_COLLABORATION_STATE_SERVICE_URL: ${{ secrets.BACKEND_WEBAPP }}
        REACT_APP_APP_INSIGHTS_INSTRUMENTATION_KEY: ${{ secrets.AI_INSTRUMENTATION_KEY }}
      run: |
        npm install
        npm run build:p
        npm run pack:d

    - if: steps.changes.outputs.src == 'true'
      name: Publish extension
      working-directory: 'RetrospectiveExtension.Frontend'
      run: >
        tfx extension publish
        --manifests vss-extension-dev.json
        --vsix ./dist/*.vsix
        --token "${{ secrets.AZURE_DEVOPS_TOKEN }}"
