name: 'CI_Backend'

on:
  push:
    branches:
      - main
      - dev
      - 'releases/**'
  pull_request:
    branches:
      - main
      - dev
      - 'releases/**'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    name: Backend - Build and Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332
        name: Check out repository

      - uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            src:
              - '.github/**'
              - 'RetrospectiveExtension.Backend/**'
              - 'RetrospectiveExtension.Backend.Tests/**'

      - if: steps.changes.outputs.src == 'true'
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '6.0.x'

      - if: steps.changes.outputs.src == 'true'
        run: |
          dotnet restore
          dotnet build
        name: Build
        working-directory: 'RetrospectiveExtension.Backend'

      - if: steps.changes.outputs.src == 'true'
        run: |
          dotnet test --logger "trx;LogFileName=test-results.trx"
        name: Test
        working-directory: 'RetrospectiveExtension.Backend.Tests'

      - if: success() || failure()
        name: Upload backend test report
        uses: actions/upload-artifact@v4
        with:
          name: dotnet-test-results
          path: RetrospectiveExtension.Backend.Tests/TestResults/test-results.trx
