name: 'CI for Backend'

on:
  pull_request:
    branches:
      - main
      - dev
      - 'releases/**'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    name: Backend - Build and Test
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@91182cccc01eb5e619899d80e4e971d6181294a7 # v2.10.1
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        name: Check out repository

      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: changes
        with:
          filters: |
            src:
              - 'src/backend/**'
              - 'src/backend.tests/**'

      - if: steps.changes.outputs.src == 'true'
        uses: actions/setup-dotnet@6bd8b7f7774af54e05809fcc5431931b3eb1ddee # v4.0.1
        with:
          dotnet-version: '6.0.x'

      - if: steps.changes.outputs.src == 'true'
        run: |
          dotnet restore
          dotnet build
        name: Build
        working-directory: 'src/backend'

      - if: steps.changes.outputs.src == 'true'
        run: |
          dotnet test --logger "trx;LogFileName=test-results.trx"
        name: Test
        working-directory: 'src/backend.tests'

      - if: success() || failure()
        name: Upload backend test report
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        with:
          name: dotnet-test-results
          path: src/backend.tests/TestResults/test-results.trx
