name: 'CI_Backend'

on:
  push:
    branches:
      - main
      - dev
      - 'releases/**'
  pull_request:
    branches:
      - main
      - dev
      - 'releases/**'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    name: Backend - Build and Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        name: Check out repository

      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: changes
        with:
          filters: |
            src:
              - '.github/**'
              - 'RetrospectiveExtension.Backend/**'
              - 'RetrospectiveExtension.Backend.Tests/**'

      - if: steps.changes.outputs.src == 'true'
        uses: actions/setup-dotnet@6bd8b7f7774af54e05809fcc5431931b3eb1ddee # v4.0.1
        with:
          dotnet-version: '6.0.x'

      - if: steps.changes.outputs.src == 'true'
        run: |
          dotnet restore
          dotnet build
        name: Build
        working-directory: 'RetrospectiveExtension.Backend'

      - if: steps.changes.outputs.src == 'true'
        run: |
          dotnet test --logger "trx;LogFileName=test-results.trx"
        name: Test
        working-directory: 'RetrospectiveExtension.Backend.Tests'

      - if: success() || failure()
        name: Upload backend test report
        uses: actions/upload-artifact@50769540e7f4bd5e21e526ee35c689e35e0d6874 # v4.4.0
        with:
          name: dotnet-test-results
          path: RetrospectiveExtension.Backend.Tests/TestResults/test-results.trx
