name: 'CI - Frontend'

on:
  push:
    branches:
      - main
      - dev
      - 'releases/**'
  pull_request:
    branches:
      - main
      - dev
      - 'releases/**'
  workflow_dispatch:

jobs:
  build:
    name: Frontend - Build and Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        name: Check out repository

      - uses: actions/setup-node@v4
        name: Setup node
        with:
          node-version: '16'

      - uses: dorny/paths-filter@v2
        id: changes
        with:
          filters: |
            src:
              - '.github/**'
              - 'RetrospectiveExtension.Frontend/**'

      - if: steps.changes.outputs.src == 'true'
        run: |
          scripts/setup_ci.sh
          scripts/ci.sh
        name: Build and Test (CI script)
        shell: bash
        working-directory: 'RetrospectiveExtension.Frontend'

      - if: steps.changes.outputs.src == 'true'
        name: Upload test report
        uses: dorny/test-reporter@v1.7.0
        with:
          name: JEST Tests
          path: reports/jest-*.xml
          reporter: jest-junit
          working-directory: 'RetrospectiveExtension.Frontend'

      - if: steps.changes.outputs.src == 'true'
        name: Code Coverage for CodeCov
        uses: codecov/codecov-action@v3.1.5
        with:
          name: Codecov Run
          files: coverage/coverage-final.json
