name: "CI_Frontend"

on:
  push:
    branches:
      - main
      - dev
      - "releases/**"
  pull_request:
    branches:
      - main
      - dev
      - "releases/**"
  workflow_dispatch:

jobs:
  build:
    name: Frontend - Build and Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        name: Check out repository

      - uses: actions/setup-node@v4
        name: Setup node
        with:
          node-version: "18"

      - uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            src:
              - ".github/**"
              - "RetrospectiveExtension.Frontend/**"

      - if: steps.changes.outputs.src == 'true'
        name: "Install dependencies"
        run: npm ci
        working-directory: "RetrospectiveExtension.Frontend"

      - if: steps.changes.outputs.src == 'true'
        name: "Lint node files"
        run: npm run lint
        working-directory: "RetrospectiveExtension.Frontend"

      - if: steps.changes.outputs.src == 'true'
        name: "Run tests"
        run: npm test
        working-directory: "RetrospectiveExtension.Frontend"

      - if: success() || failure()
        uses: actions/upload-artifact@v4
        with:
          name: jest-test-results
          path: RetrospectiveExtension.Frontend/reports/jest-junit.xml

      - name: Markdown lint
        run: |
          npm install markdownlint-cli2 --global
          markdownlint-cli2 "**/*.md" --config ".github/.markdownlint.json" "#RetrospectiveExtension.Frontend/node_modules"

      - name: Spell check
        run: |
          wget https://raw.githubusercontent.com/tbroadley/spellchecker-cli/master/dictionaries/base.txt
          echo "" >> base.txt
          echo "emailable" >> base.txt
          echo "anonymize" >> base.txt
          echo "pre-populated" >> base.txt
          echo "favorability" >> base.txt
          echo "Dev" >> base.txt
          echo "tooltip" >> base.txt
          echo "outloud" >> base.txt
          echo "timebox" >> base.txt
          echo "uncast" >> base.txt
          echo "PRs" >> base.txt
          echo "CodeCov" >> base.txt
          echo "Backend" >> base.txt
          echo "WIP" >> base.txt
          echo "OKR" >> base.txt
          echo "OKRs" >> base.txt
          echo "CSV" >> base.txt
          echo "GitHub" >> base.txt
          echo "DevOps" >> base.txt
          echo "Frontend" >> base.txt
          echo "ERD" >> base.txt
          echo "Changelog" >> base.txt
          echo "changelog" >> base.txt
          echo "ReactTable" >> base.txt
          echo "README" >> base.txt
          npx -y spellchecker-cli --config ./.github/.spellcheckerrc.yaml

      - if: steps.changes.outputs.src == 'true'
        name: Code Coverage for CodeCov
        uses: codecov/codecov-action@v4.3.1
        with:
          name: Codecov Run
          files: coverage/coverage-final.json
