name: 'CI - Frontend'

on:
  push:
    branches:
      - main
      - dev
      - 'releases/**'
  pull_request:
    branches:
      - main
      - dev
      - 'releases/**'
  workflow_dispatch:

jobs:
  build:
    name: Frontend - Build and Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        name: Check out repository

      - uses: actions/setup-node@v4
        name: Setup node
        with:
          node-version: '16'

      - uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            src:
              - '.github/**'
              - 'RetrospectiveExtension.Frontend/**'

      - name: "Install node packages"
        run: npm ci # confirm
        working-directory: 'RetrospectiveExtension.Frontend'

      - name: "Lint node files"
        run: npm run lint
        working-directory: 'RetrospectiveExtension.Frontend'

      - name: "Run tests"
        run: npm run test
        working-directory: 'RetrospectiveExtension.Frontend'

      - if: success() || failure()
        uses: actions/upload-artifact@v3
        with:
          name: jest-test-results
          path: reports/jest-junit.xml

      # - run: npm run pack:test
      # - if: success() || failure()
      #   uses: actions/upload-artifact@v3
      #   with:
      #     name: pack-results
      #     path: reports/pack-results.xml

      # https://github.com/marketplace/actions/markdownlint-cli2-action
      - uses: DavidAnson/markdownlint-cli2-action@v15
        with:
          config: #TODO have a config file

      # https://github.com/marketplace/actions/spellchecker-cli
      - uses: tbroadley/spellchecker-cli-action@v1

      # - if: steps.changes.outputs.src == 'true'
      #   run: |
      #     scripts/setup_ci.sh
      #     scripts/ci.sh
      #   name: Build and Test (CI script)
      #   shell: bash
      #   working-directory: 'RetrospectiveExtension.Frontend'

      # - if: success() || failure()
      #   uses: actions/upload-artifact@v3
      #   with:
      #     name: jest-test-results
      #     path: reports/jest-.xml

      # - if: steps.changes.outputs.src == 'true'
      #   name: Upload test report
      #   uses: dorny/test-reporter@v1.8.0
      #   with:
      #     name: JEST Tests
      #     path: reports/jest-*.xml
      #     reporter: jest-junit
      #     working-directory: 'RetrospectiveExtension.Frontend'

      - if: steps.changes.outputs.src == 'true'
        name: Code Coverage for CodeCov
        uses: codecov/codecov-action@v4.0.1
        with:
          name: Codecov Run
          files: coverage/coverage-final.json
