name: "Publish to Production"

on:
  workflow_dispatch:
    inputs:
      version:
        description: "The version to use"
        required: false

permissions:
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@0080882f6c36860b6ba35c610c98ce87d4e2f26f # v2.10.2
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Check if the invoker is a member of the admin team
        run: |
          echo ${{ secrets.GH_CLI_LOGIN_TOKEN }} | gh auth login --with-token

          team_members=$(gh api -H "Accept: application/vnd.github+json" -H "X-GitHub-Api-Version: 2022-11-28" https://api.github.com/organizations/6154722/team/9355952/members)

          # Extract usernames from the API response
          usernames=$(echo "$team_members" | jq -r '.[].login')

          # Check if github.actor is in the list
          if [[ "$usernames" != *"${{ github.actor }}"* ]]; then
            echo "${{ github.actor }} you shall not pass!"
            exit 1
          fi

      - name: Publish extension package
        id: publish_extension_package
        working-directory: 'src/frontend'
        env:
          REACT_APP_COLLABORATION_STATE_SERVICE_URL: ${{ secrets.BACKEND_WEBAPP }}
          REACT_APP_APP_INSIGHTS_INSTRUMENTATION_KEY: ${{ secrets.AI_INSTRUMENTATION_KEY }}
          INPUT_VERSION: ${{ github.event.inputs.version }}
        run: |
          npm ci

          if [ -z "${INPUT_VERSION}" ]; then
            ext_info=$(npx tfx extension show --no-prompt --json --publisher "ms-devlabs" --extensionId "team-retrospectives" --token ${{ secrets.AZURE_DEVOPS_TOKEN }})
            VERSION=$(jq -r '.versions[0].version' <<< "$ext_info")
          else
            VERSION="${INPUT_VERSION}"
          fi

          tmp_versioned=$(mktemp)
          jq ".version = \"${VERSION}\"" vss-extension-prod.json > "$tmp_versioned"
          mv "$tmp_versioned" vss-extension-prod.json

          npm run pack:p

          npx tfx extension publish --manifests vss-extension-prod.json --vsix ./dist/*.vsix --token "${{ secrets.AZURE_DEVOPS_TOKEN }}"

          ext_info=$(npx tfx extension show --no-prompt --json --publisher "ms-devlabs" --extensionId "team-retrospectives" --token ${{ secrets.AZURE_DEVOPS_TOKEN }})
          VERSION=$(jq -r '.versions[0].version' <<< "$ext_info")

          echo "EXTENSION_VERSION=${VERSION}" >> $GITHUB_OUTPUT

      - name: Create the tag for the extension release
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          github-token: ${{ secrets.GH_CLI_LOGIN_TOKEN }}
          script: |
            await github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: `refs/tags/v${{steps.publish_extension_package.outputs.EXTENSION_VERSION}}`,
              sha: context.sha
            });
