name: Publish to Azure DevOps Marketplace

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Stop execution if not the specified team
        run: |
          echo "This workflow can only be executed by the specified team."

      - name: Check if the user is in the specified team
        id: check-team
        run: |
          TEAM_SLUG='retrospective-extension-admin'
          USERNAME=$(curl -sSL -H "Authorization: Bearer $GITHUB_TOKEN" "https://api.github.com/users/$GITHUB_ACTOR/teams" | jq -r --arg team_slug "$TEAM_SLUG" '.[] | select(.slug == $team_slug) | .slug')

          echo "Team Slug: $USERNAME"
          if [ "$USERNAME" != "$TEAM_SLUG" ]; then
            echo "This workflow can only be executed by the specified team."
            exit 1
          fi

      - name: Continue execution if the specified team
        run: |
          echo "Congratulations! You are part of the specified team."
